# Online Retail - Basic Exploration
* Download the data file
* Visualize the first 10 rows

### To edit this notebook, go to File -> Save a copy in Drive
Google Colab is a freemium cloud service based on Jupyter notebooks. It provides a virtual machine (VM) in which a Jupyter notebook can be executed, even with hardware acceleration like GPUs. The whole process is similar to Google borrowing us one of its computers. We can access this borrowed computer through this browser window.

In [108]:
a = 10
b = 25
print(a + b)

35

In [109]:
product = a * b 
sum = a + b
result = product * sum
print(result)

8750

### Data loading 
A virtual machine is the simultion of a computer operating system (e.g. Windows or Linux) on another computer. Basically, it allows you to run an OS inside another OS. Mac Users may know this from Parallels Desktop, which allows to use Windows inside of Mac OS. Because a VM acts as another computer (that is trapped inside another computer), we have to download our dataset inside this virtual computer system. We can again do this using linux commands. **You don't have to understand the following code, it's enough to understand that you can operate a computer entirely using a command line, which includes downloading and unzipping zip-files.**

In [110]:
import requests
import zipfile
import os

# URL of the ZIP file to download
url = "https://faubox.rrze.uni-erlangen.de/dl/fitrNLfAzeMvpher2zfyA/online_retail_II.zip"

# Path to save the downloaded ZIP file
zip_filename = "online_retail_II.zip"

# Path to extract the desired file from the ZIP archive
extracted_file = "online_retail_II.xlsx"

if not(os.path.exists(extracted_file)):
    # Download the ZIP file
    response = requests.get(url)
    with open(zip_filename, "wb") as file:
        file.write(response.content)

    # Extract the desired file from the ZIP archive
    with zipfile.ZipFile(zip_filename, "r") as zip_ref:
        zip_ref.extract(extracted_file)

    print("File extracted successfully.")
    
data_file = extracted_file

File extracted successfully.

### Reading the file into a Pandas data frame and showing the contents of it

In [111]:
import pandas as pd
# reads this into a dictionary for every sheet in the excel file
raw_data = pd.read_excel(data_file, sheet_name=None)
# raw_data.values() returns a list of identical data frames that are simply stacked
df = pd.concat(raw_data.values())
# Reset the index and assign a new unique index
df = df.reset_index(drop=True)

Show the first ten rows of a DataFrame:

In [112]:
df.head(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
5,489434,22064,PINK DOUGHNUT TRINKET POT,24,2009-12-01 07:45:00,1.65,13085.0,United Kingdom
6,489434,21871,SAVE THE PLANET MUG,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
7,489434,21523,FANCY FONT HOME SWEET HOME DOORMAT,10,2009-12-01 07:45:00,5.95,13085.0,United Kingdom
8,489435,22350,CAT BOWL,12,2009-12-01 07:46:00,2.55,13085.0,United Kingdom
9,489435,22349,"DOG BOWL , CHASING BALL DESIGN",12,2009-12-01 07:46:00,3.75,13085.0,United Kingdom

In addition to the ten first, we can randomly sample some rows from our data set. Repeat this a couple of times to get a feeling for the data.

In [113]:
df.sample(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
784152,559668,10133,COLOURING PENCILS BROWN TUBE,20,2011-07-11 13:40:00,0.42,13394.0,United Kingdom
537166,537262,22197,SMALL POPCORN HOLDER,100,2010-12-06 11:26:00,0.72,15039.0,United Kingdom
288378,517454,22136,LOVE HEART SOCK HANGER,1,2010-07-29 11:22:00,3.36,NaN,United Kingdom
823881,563019,23079,TOADSTOOL BEDSIDE LIGHT,2,2011-08-11 12:58:00,8.95,17340.0,United Kingdom
735213,555275,21174,POTTERING IN THE SHED METAL SIGN,2,2011-06-01 17:18:00,4.13,NaN,United Kingdom
595938,542065,22839,3 TIER CAKE TIN GREEN AND CREAM,1,2011-01-25 12:03:00,14.95,14527.0,United Kingdom
188024,507235,72225D,VANILLA SCENT CAKE CANDLE,72,2010-05-07 09:04:00,0.21,14298.0,United Kingdom
1058359,580999,22232,JIGSAW TOADSTOOLS 3 PIECE,6,2011-12-06 17:49:00,0.59,17883.0,United Kingdom
757815,557315,22646,CERAMIC STRAWBERRY CAKE MONEY BANK,2,2011-06-19 16:02:00,1.45,15535.0,United Kingdom
50161,494014,84596E,SMALL LICORICE DES PINK BOWL,2,2010-01-11 09:33:00,1.70,NaN,United Kingdom

Warmup questions first:
* How many rows do we have in our dataset? Hint: use df.shape or print(df) 	
* How many customer IDs are NaN? 
* What was the highest price for a product?

In [114]:
# How many rows do we have in our dataset? Hint: use df.shape or print(df) 


# How many customer IDs are NaN? 


# What was the highest price for a product?

* What countries do most our customers come from?	
* What was our most expensive sale?	
* Which customer ordered the most products?

In [115]:
# Let's start with the first one: What countries do most our customers come from?

In [116]:
# how many different countries do we have?

In [117]:
# What was our most expensive sale?

In [118]:
# Which customer ordered the most products?