# Online Retail - Basic Exploration
* Download the data file
* Visualize the first 10 rows

### To edit this notebook, go to File -> Save a copy in Drive
Google Colab is a freemium cloud service based on Jupyter notebooks. It provides a virtual machine (VM) in which a Jupyter notebook can be executed, even with hardware acceleration like GPUs. The whole process is similar to Google borrowing us one of its computers. We can access this borrowed computer through this browser window.

In [1]:
a = 10
b = 25
print(a + b)

35

In [2]:
product = a * b 
sum = a + b
result = product * sum
print(result)

8750

### Data loading 
A virtual machine is the simultion of a computer operating system (e.g. Windows or Linux) on another computer. Basically, it allows you to run an OS inside another OS. Mac Users may know this from Parallels Desktop, which allows to use Windows inside of Mac OS. Because a VM acts as another computer (that is trapped inside another computer), we have to download our dataset inside this virtual computer system. We can again do this using linux commands. **You don't have to understand the following code, it's enough to understand that you can operate a computer entirely using a command line, which includes downloading and unzipping zip-files.**

In [3]:
import requests
import zipfile
import os

# URL of the ZIP file to download
url = "https://faubox.rrze.uni-erlangen.de/dl/fitrNLfAzeMvpher2zfyA/online_retail_II.zip"

# Path to save the downloaded ZIP file
zip_filename = "online_retail_II.zip"

# Path to extract the desired file from the ZIP archive
extracted_file = "online_retail_II.xlsx"

if not(os.path.exists(extracted_file)):
    # Download the ZIP file
    response = requests.get(url)
    with open(zip_filename, "wb") as file:
        file.write(response.content)

    # Extract the desired file from the ZIP archive
    with zipfile.ZipFile(zip_filename, "r") as zip_ref:
        zip_ref.extract(extracted_file)

    print("File extracted successfully.")
    
data_file = extracted_file

### Reading the file into a Pandas data frame and showing the contents of it

In [4]:
import pandas as pd
# reads this into a dictionary for every sheet in the excel file
raw_data = pd.read_excel(data_file, sheet_name=None)
# raw_data.values() returns a list of identical data frames that are simply stacked
df = pd.concat(raw_data.values())
# Reset the index and assign a new unique index
df = df.reset_index(drop=True)

In [5]:
# Reset the index and assign a new unique index
df = df.reset_index(drop=True)

Show the first ten rows of a DataFrame:

In [6]:
df.head(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
5,489434,22064,PINK DOUGHNUT TRINKET POT,24,2009-12-01 07:45:00,1.65,13085.0,United Kingdom
6,489434,21871,SAVE THE PLANET MUG,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
7,489434,21523,FANCY FONT HOME SWEET HOME DOORMAT,10,2009-12-01 07:45:00,5.95,13085.0,United Kingdom
8,489435,22350,CAT BOWL,12,2009-12-01 07:46:00,2.55,13085.0,United Kingdom
9,489435,22349,"DOG BOWL , CHASING BALL DESIGN",12,2009-12-01 07:46:00,3.75,13085.0,United Kingdom

In addition to the ten first, we can randomly sample some rows from our data set. Repeat this a couple of times to get a feeling for the data.

In [7]:
df.sample(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
619229,544311,21670,BLUE SPOT CERAMIC DRAWER KNOB,4,2011-02-17 14:19:00,1.25,17841.0,United Kingdom
820219,562717,35646,VINTAGE BEAD PINK EVENING BAG,3,2011-08-08 15:42:00,2.46,NaN,United Kingdom
60393,494786,22115,METAL SIGN EMPIRE TEA,1,2010-01-18 13:24:00,5.91,NaN,United Kingdom
923154,571197,23103,JINGLE BELL HEART DECORATION,6,2011-10-14 12:08:00,1.65,16413.0,United Kingdom
837584,564342,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2011-08-24 14:53:00,3.75,16340.0,United Kingdom
371024,525221,22371,AIRLINE BAG VINTAGE TOKYO 78,1,2010-10-04 12:51:00,8.47,NaN,United Kingdom
157012,C504360,85063,CREAM SWEETHEART MAGAZINE RACK,-1,2010-04-13 10:32:00,16.95,14370.0,United Kingdom
188711,507292,85226A,WHITE/BLUE PULL BACK RACING CAR,1,2010-05-07 14:28:00,1.66,NaN,United Kingdom
1047514,580367,85178,VICTORIAN SEWING KIT,8,2011-12-02 16:39:00,2.46,NaN,United Kingdom
5380,489857,90011D,PURPLE CRYSTAL DROP EARRINGS,1,2009-12-02 14:43:00,3.03,NaN,United Kingdom

Warmup questions first:
* How many rows do we have in our dataset? Hint: use df.shape or print(df) 	
* How many customer IDs are NaN? 
* What was the highest price for a product?

In [8]:
# How many rows do we have in our dataset? Hint: use df.shape or print(df) 
print(df.shape)
num_rows = df.shape[0]
print(f"We have {num_rows} rows in our dataset.")

# How many customer IDs are NaN? 
df["Customer ID"].isna()
NaN_Customers = df["Customer ID"].isna().sum()
print(f"We have {NaN_Customers} unidentified customers.")

# What was the highest price for a product?
most_expensive = df["Price"].max()
print(f"The most expensive price was {most_expensive}.")

(1067371, 8)
We have 1067371 rows in our dataset.
We have 243007 unidentified customers.
The most expensive price was 38970.0.

In [9]:
df.loc[index_of_max_price]

NameError: name 'index_of_max_price' is not defined

* What countries do most our customers come from?	
* What was our most expensive sale?	
* Which customer ordered the most products?

In [ ]:
# Let's start with the first one: What countries do most our customers come from?	
df["Country"]

In [ ]:
# how many different countries do we have?
print(df["Country"].nunique())

df["Country"].value_counts(normalize=True).head(5)

In [ ]:
# What was our most expensive sale?	

# Find the index of the row with the highest price
index_of_max_price = df['Price'].idxmax()

# Get the StockCode of the item with the highest price
max_price_item = df.loc[index_of_max_price]
max_price_item

In [ ]:
# filtering ("where" in SQL)
actual_sales = df[df["Quantity"] > 0]
# Find the index of the row with the highest price
index_of_max_price = actual_sales['Price'].idxmax()

# Get the StockCode of the item with the highest price
max_price_item = actual_sales.loc[index_of_max_price]
max_price_item

In [ ]:
# let's talk about indexing with a boolean expression
df["Quantity"] > 0

In [ ]:
# Which customer ordered the most products?

# Group the DataFrame by 'Customer ID' and calculate the sum of 'Quantity' for each customer
customer_quantity = df.groupby('Customer ID')['Quantity'].sum()

# Find the customer with the highest total quantity
customer_with_most_items = customer_quantity.idxmax()

print("Customer ID with the most items:")
customer_quantity.sort_values(ascending=False)