# Online Retail - Basic Exploration
* Download the data file
* Visualize the first 10 rows

### To edit this notebook, go to File -> Save a copy in Drive
Google Colab is a freemium cloud service based on Jupyter notebooks. It provides a virtual machine (VM) in which a Jupyter notebook can be executed, even with hardware acceleration like GPUs. The whole process is similar to Google borrowing us one of its computers. We can access this borrowed computer through this browser window.

In [12]:
a = 10
b = 25
print(a + b)

35

In [13]:
product = a * b 
sum = a + b
result = product * sum
print(result)

8750

### Data loading 
A virtual machine is the simultion of a computer operating system (e.g. Windows or Linux) on another computer. Basically, it allows you to run an OS inside another OS. Mac Users may know this from Parallels Desktop, which allows to use Windows inside of Mac OS. Because a VM acts as another computer (that is trapped inside another computer), we have to download our dataset inside this virtual computer system. We can again do this using linux commands. **You don't have to understand the following code, it's enough to understand that you can operate a computer entirely using a command line, which includes downloading and unzipping zip-files.**

In [14]:
import requests
import zipfile
import os

# URL of the ZIP file to download
url = "https://faubox.rrze.uni-erlangen.de/dl/fitrNLfAzeMvpher2zfyA/online_retail_II.zip"

# Path to save the downloaded ZIP file
zip_filename = "online_retail_II.zip"

# Path to extract the desired file from the ZIP archive
extracted_file = "online_retail_II.xlsx"

if not(os.path.exists(extracted_file)):
    # Download the ZIP file
    response = requests.get(url)
    with open(zip_filename, "wb") as file:
        file.write(response.content)

    # Extract the desired file from the ZIP archive
    with zipfile.ZipFile(zip_filename, "r") as zip_ref:
        zip_ref.extract(extracted_file)

    print("File extracted successfully.")
    
data_file = extracted_file

### Reading the file into a Pandas data frame and showing the contents of it

In [15]:
import pandas as pd
# reads this into a dictionary for every sheet in the excel file
raw_data = pd.read_excel(data_file, sheet_name=None)
# raw_data.values() returns a list of identical data frames that are simply stacked
df = pd.concat(raw_data.values())
# Reset the index and assign a new unique index
df = df.reset_index(drop=True)

In [16]:
# Reset the index and assign a new unique index
df = df.reset_index(drop=True)

Show the first ten rows of a DataFrame:

In [17]:
df.head(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
5,489434,22064,PINK DOUGHNUT TRINKET POT,24,2009-12-01 07:45:00,1.65,13085.0,United Kingdom
6,489434,21871,SAVE THE PLANET MUG,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
7,489434,21523,FANCY FONT HOME SWEET HOME DOORMAT,10,2009-12-01 07:45:00,5.95,13085.0,United Kingdom
8,489435,22350,CAT BOWL,12,2009-12-01 07:46:00,2.55,13085.0,United Kingdom
9,489435,22349,"DOG BOWL , CHASING BALL DESIGN",12,2009-12-01 07:46:00,3.75,13085.0,United Kingdom

In addition to the ten first, we can randomly sample some rows from our data set. Repeat this a couple of times to get a feeling for the data.

In [18]:
df.sample(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
169353,505462,22246,"GARLAND, MAGIC GARDEN 1.8M",12,2010-04-22 11:51:00,1.95,15622.0,United Kingdom
120498,500891,22384,LUNCH BAG PINK RETROSPOT,1,2010-03-10 16:24:00,4.21,NaN,United Kingdom
518084,537638,21397,BLUE POLKADOT EGG CUP,1,2010-12-07 15:28:00,3.36,NaN,United Kingdom
687792,550500,22996,TRAVEL CARD WALLET VINTAGE TICKET,1,2011-04-18 15:26:00,0.83,NaN,United Kingdom
573313,540453,21870,I CAN ONLY PLEASE ONE PERSON MUG,12,2011-01-07 11:54:00,1.25,13426.0,United Kingdom
246533,513265,20726,LUNCH BAG WOODLAND,1,2010-06-23 11:39:00,1.65,14725.0,United Kingdom
846892,565150,22784,LANTERN CREAM GAZEBO,6,2011-09-01 14:26:00,4.25,14298.0,United Kingdom
361879,524412,71403,"PINK/WHITE ""KEEP CLEAN"" BULLET BIN",12,2010-09-29 09:59:00,2.95,14911.0,EIRE
223857,511067,20774,GREEN FERN NOTEBOOK,6,2010-06-06 13:06:00,1.65,15956.0,United Kingdom
927022,571441,22439,6 ROCKET BALLOONS,2,2011-10-17 13:31:00,1.25,14096.0,United Kingdom

Warmup questions first:
* How many rows do we have in our dataset? Hint: use df.shape or print(df) 	
* How many customer IDs are NaN? 
* What was the highest price for a product?

In [19]:
# How many rows do we have in our dataset? Hint: use df.shape or print(df) 
print(df.shape)
num_rows = df.shape[0]
print(f"We have {num_rows} rows in our dataset.")

# How many customer IDs are NaN? 
df["Customer ID"].isna()
NaN_Customers = df["Customer ID"].isna().sum()
print(f"We have {NaN_Customers} unidentified customers.")

# What was the highest price for a product?
most_expensive = df["Price"].max()
print(f"The most expensive price was {most_expensive}.")

(1067371, 8)
We have 1067371 rows in our dataset.
We have 243007 unidentified customers.
The most expensive price was 38970.0.

* What countries do most our customers come from?	
* What was our most expensive sale?	
* Which customer ordered the most products?

In [20]:
# Let's start with the first one: What countries do most our customers come from?	
df["Country"]

0          United Kingdom
1          United Kingdom
2          United Kingdom
3          United Kingdom
4          United Kingdom
                ...
1067366            France
1067367            France
1067368            France
1067369            France
1067370            France
Name: Country, Length: 1067371, dtype: object

In [21]:
# how many different countries do we have?
print(df["Country"].nunique())

df["Country"].value_counts(normalize=True).head(5)

43

United Kingdom    0.919390
EIRE              0.016738
Germany           0.016512
France            0.013426
Netherlands       0.004816
Name: Country, dtype: float64

In [22]:
# What was our most expensive sale?	

# Find the index of the row with the highest price
index_of_max_price = df['Price'].idxmax()

# Get the StockCode of the item with the highest price
max_price_item = df.loc[index_of_max_price]
max_price_item

Invoice                    C556445
StockCode                        M
Description                 Manual
Quantity                        -1
InvoiceDate    2011-06-10 15:31:00
Price                      38970.0
Customer ID                15098.0
Country             United Kingdom
Name: 748142, dtype: object

In [23]:
# filtering ("where" in SQL)
actual_sales = df[df["Quantity"] > 0]
# Find the index of the row with the highest price
index_of_max_price = actual_sales['Price'].idxmax()

# Get the StockCode of the item with the highest price
max_price_item = actual_sales.loc[index_of_max_price]
max_price_item

Invoice                     512771
StockCode                        M
Description                 Manual
Quantity                         1
InvoiceDate    2010-06-17 16:53:00
Price                     25111.09
Customer ID                    NaN
Country             United Kingdom
Name: 241827, dtype: object

In [24]:
# let's talk about indexing with a boolean expression
df["Quantity"] > 0

0          True
1          True
2          True
3          True
4          True
           ...
1067366    True
1067367    True
1067368    True
1067369    True
1067370    True
Name: Quantity, Length: 1067371, dtype: bool

In [25]:
# Which customer ordered the most products?

# Group the DataFrame by 'Customer ID' and calculate the sum of 'Quantity' for each customer
customer_quantity = df.groupby('Customer ID')['Quantity'].sum()

# Find the customer with the highest total quantity
customer_with_most_items = customer_quantity.idxmax()

print("Customer ID with the most items:")
customer_quantity.sort_values(ascending=False)

Customer ID with the most items:

Customer ID
14646.0    365220
13902.0    218090
18102.0    187110
13694.0    185442
14156.0    163910
            ...
16252.0      -158
15935.0      -171
14213.0      -244
14337.0      -393
13091.0     -1085
Name: Quantity, Length: 5942, dtype: int64